<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
  </style>
  <title>Document</title>
</head>

<body>

  <div class="about-me">
    <div class="text-content">
      <h1>Oi, meu nome é Tamires</h1>
      <p class="content">Tenho 21 anos, resido em São Paulo e atualmente estou no último semestre de Análise e Desenvolvimneto de Sistemas pela instuição de ensino FMU e com estudos voltados para área de Front-end e Design</p>
    </div>
    <div class="picture">
      <img class="teste" [src]="fotoImg" alt="Minha foto de costas e com algumas montagens de plantas envolta">
    </div>
  </div>

</body>

</html>